<footer class="bg-boh py-5 ">

<ol>
    <li>
        <a href="https://www.facebook.com/ ">
            <i class="fab fa-facebook-f ">
                            </i>
        </a>
    </li>
    <li>
        <a href="https://www.twitter.com/ ">
            <i class="fab fa-twitter ">
                        </i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/ "><i class="fab fa-instagram "></i></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/ "><i class="fab fa-linkedin-in "></i></a>
    </li>
</ol>

</footer>